Boreray/DotSpatial.Controls/obj/
Boreray/packages/
Boreray/bin/
Boreray/DotSpatial.Controls.Tests/bin/
Boreray/DotSpatial.Tests.Common/bin/
Boreray/DotSpatial.Tests.Common/obj/
Boreray/DotSpatial.Compatibility/obj/
Boreray/DotSpatial.Controls.Tests/obj/
Boreray/DotSpatial.Analysis.Tests/bin/
Boreray/DotSpatial.Analysis.Tests/obj/
Boreray/DotSpatial.Analysis/obj/
