<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <packageSources>
      <add key="MapGenix" value="c:\third_party\NuGetFeed" />
      <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    </packageSources>
    <activePackageSource>
      <add key="MapGenix" value="c:\third_party\NuGetFeed" />
      <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    </activePackageSource>
  </solution>
</configuration>